*{
    margin: 0;
}
body{
    margin: 0;
}
nav div{
display: flex;
justify-content: space-between;
padding: 16px 120px;
align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;

}
nav button{
    
   width: auto;
}
#banner{
    width: 1600px;
    width: 100%;
    height: 674px;
    background-image: url(assets/hero-bg.png);
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
#design{
    margin-top: 110px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border-radius: 35px;
    padding: 8px 12px;
    color: #30B868;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
}
.design2{
    padding-top:16px;
    color: #ffffff;
}
    

.banner-content h1{
    font-size: 75px;
    font-weight: 900;
    
   
}
.banner-content #color1{
color: #ffffff;

}
#color2{
    color:#30B868;
}
.banner-content p{
    font-size: 20px;
    line-height: 24px;
}
.banner-content button{
    padding: 12px 16px;
    margin-top: 34px;
    background-color:#30B868;
    width: auto;
}


.notes{
    width: 1000px;
    height: 152px;
    margin: 0 auto;
}
.notes-heading{
display: flex;
flex-direction: column;
text-align: center;
gap: 14px;
padding-top: 60px;

}
.notes-heading h1{
    font-size: 48px;
    font-weight: bold;
}
.notes-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.notes-info{
display: flex;
}


.info-card{
    text-align: center;
    margin-right: 16px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px  #c0c1c3;
    margin-top: 45px;
    padding: 24px 24px;
    width: 350px;
    height: 200px;
   
}
.info-card h3{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 16px;
}
.info-card p{
    font-size: 14px;
    font-weight: 100;
    color:#627382;
    line-height: 20px;
    width: 200px;
    height: 30px;
}
.info-card img{
    background-color: #f95555;
    width: 40px;
    height: 40px;
    border-radius: 35px;
    padding: 10px;
    margin: 16px 16px;
}
#brain{
    margin: 400px 120px 120px 120px;
    
}
.brain-structure{
    display: flex;
    gap: 60px;
}
#line{
    margin-top: 100px;
    color: #30B868;
    font-size: 16px;
}
.brain-image img{
width: 600px;
height: 580px;

}
.brain-content h1{
    width: 500px;
    height: 120px;
    margin-top: 16px;
    font-size: 45px;
    margin-bottom: 30px;
}
 #line2{
    width: 400px;
    line-height: 20px;
    margin-bottom: 25px;
    font-weight: 50;
    font-size: 16px;
    color: #627382;
}

.list-item{
    display: flex;
    gap: 14px;
    margin-bottom: 10px;
}
.challenge-structure{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 80px 40px 80px 40px;
    background-color: #f7f6f2;
    max-width: 1200px;
    height: 380px;
    width: 71%;
    margin: 0 auto;
}
.challenge-structure h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    
}
.challenge-structure p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    width: 450px;
    text-align: center;
}
.button1{
    background-color: #30B868;
    width: auto;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap:10px;
    padding: 16px 12px;
    color: #ffffff;
}
.button1:hover{
    background-color: #246336;
}
.footer-container{
    display: flex;
    padding: 100px 100px;
    justify-content: space-between;
    background-color: #001931;
    color: #ffffff;
    margin-top: 90px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.footer-social i{
    padding-right:7px;
    padding-top: 10px;
}